<app-section>
  <form class="mb-[20px] flex justify-between">
    <div class="flex gap-[10px] items-center">
      <app-custom-select
        name="category"
        [handleChange]="handleChange"
        [options]="categories"
      ></app-custom-select>
      <div class="flex gap-[10px]">
        <label class="capitalize">Sort:</label>
        <select
          class="border-[2px] border-red-200 rounded-[8px] px-[10px] text-[12px] h-[30px] capitalize"
          name="sort"
          (change)="handleChange($event)"
        >
          <option class="capitalize" value="">no sort</option>
          <option
            class="capitalize"
            *ngFor="let option of sortOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
    </div>
    <input
      [formControl]="searchControl"
      name="search"
      class="w-[200px] h-[30px] bg-blue-200 rounded-[8px] px-[10px] text-[12px]"
      type="search"
      placeholder="Search"
    />
  </form>
  <p *ngIf="isPending">loading...</p>
  <section *ngIf="!isPending && products">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[16px]"
    >
      <app-card *ngFor="let product of products" [product]="product"></app-card>
    </div>
    <app-pagination
      [totalPages]="totalPages"
      [currentPage]="filters().page"
      [handlePageChange]="handlePageChange"
      [isPending]="isPending"
    ></app-pagination>
  </section>
</app-section>
