<div class="flex flex-col gap-[12px] w-full">
  <p class="text-[28px] font-semibold">Thumbnail:</p>

  <div *ngIf="data().thumbnail.url" class="relative w-full h-[200px]">
    <img
      class="w-full h-[200px] object-cover rounded-[5px] shadow-md"
      [src]="data().thumbnail.url"
      width="200"
    />
    <button
      (click)="deleteImage(data().thumbnail.id!)"
      class="size-[20px] flex justify-center items-center rounded-full bg-red-100 hover:bg-red-200 absolute right-[-3px] top-[-3px] shadow-sm"
      type="button"
    >
      <img class="size-[15px]" src="assets/icons/bin.svg" alt="bin" />
    </button>
  </div>

  <label
    *ngIf="!data().thumbnail.url"
    class="w-full h-[200px] border-[2px] rounded-[5px] border-dashed border-blue-400 flex items-center justify-center cursor-pointer bg-blue-100 hover:bg-blue-200 transition-colors duration-300 group"
  >
    <img src="assets/icons/plus.svg" alt="plus" class="size-[50px]" />
    <input
      type="file"
      (change)="onThumbnailSelected($event)"
      [disabled]="data().pending"
      class="hidden"
    />
  </label>

  <p
    class="text-[22px] font-semibold"
    *ngIf="data().thumbnail.url || data().selectedImagesNumber > 0"
  >
    Images:
  </p>

  <div class="flex items-center gap-[4%]">
    <div *ngFor="let i of data().images" class="relative w-1/6 h-[50px]">
      <img
        class="w-full h-[50px] object-cover rounded-[5px] shadow-md"
        [src]="i.url"
        width="200"
      />
      <button
        (click)="deleteImage(i.id!)"
        class="size-[20px] flex justify-center items-center rounded-full bg-red-100 hover:bg-red-200 absolute right-[-3px] top-[-3px] shadow-sm"
        type="button"
      >
        <img class="size-[15px]" src="assets/icons/bin.svg" alt="bin" />
      </button>
    </div>

    <label
      *ngIf="data().thumbnail.url && data().selectedImagesNumber < 5"
      class="w-1/6 h-[50px] border-[2px] rounded-[5px] border-dashed border-blue-400 flex items-center justify-center cursor-pointer bg-blue-100 hover:bg-blue-200 group transition-colors duration-300"
    >
      <img src="assets/icons/plus.svg" alt="plus" class="size-[20px]" />
      <input
        type="file"
        (change)="onImageSelected($event)"
        [disabled]="data().pending"
        class="hidden"
      />
    </label>
  </div>
</div>
