<app-section>
  <ng-container>
    <form class="mb-[20px] flex justify-between">
      <input
        [formControl]="searchControl"
        name="search"
        class="w-full h-[30px] bg-blue-200 rounded-[8px] px-[10px] text-[12px]"
        type="search"
        placeholder="Search your products"
      />
    </form>
    <p *ngIf="isPending">loading...</p>
    <section
      *ngIf="products && !isPending"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[20px]"
    >
      <app-card *ngFor="let p of products" [product]="p"></app-card>
    </section>
  </ng-container>
</app-section>
