<p
  [class.text-blue-500]="count() === 0"
  [class.text-red-500]="count() < 0"
  [class.text-green-500]="count() > 0"
  class="font-bold text-3xl text-center"
>
  {{ count() }}
</p>
<div class="flex justify-center items-center gap-[20px] mt-[30px]">
  <button (click)="decrement()">Decrement</button>
  <button (click)="reset()">Reset</button>
  <button (click)="increment()">Increment</button>
</div>
<div class="w-full flex justify-center items-center my-[20px]">
  <button class="" (click)="setTestCookieDev()">Test cookie</button>
</div>
